:root {
  --blue: #5c94e1;
  --gray: #f2f2f2;
  --gray-text-1: #4f4f4f;
  --gray-text-2: #828282;
  --radius: 0.8rem;
  --shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.08);
}
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
  background: var(--gray);
  font-size: 16px;
  line-height: 1.3;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
main {
  padding: 4rem 0;
}
.wrapper {
  max-width: 65em;
  margin: 0 auto;
  padding: 0 1rem;
}
.card {
  background: #fff;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1.4rem;
  margin-bottom: 1.4rem;
}
.card-title {
  text-transform: uppercase;
  color: var(--gray-text-1);
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.card-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1.5rem;
}
.userInfo {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 1.5rem;
  align-items: flex-start;
}
.userImage {
  border-radius: var(--radius);
  overflow: hidden;
}
.userImage img {
  width: 100%;
  display: block;
}
.userDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
h3 {
  color: var(--gray-text-1);
  font-size: 1.6rem;
  font-weight: 600;
}
.userName span {
  color: var(--gray-text-2);
  font-size: 1rem;
  font-weight: 400;
}
.userContact {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.userContact a {
  display: flex;
  align-items: center;
  color: var(--gray-text-1);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.userContact a span {
  margin-right: 0.5rem;
}
.userDetails p {
  color: var(--gray-text-2);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}
.skills li {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  grid-gap: 1.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}
.skills li:last-child {
  margin-bottom: 0;
}
.progressBar {
  background: #c4c4c4;
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
  height: 0.5rem;
}
.progressBar span {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue);
  height: 100%;
}
.hobbies li {
  margin-bottom: 1.5rem;
}
.hobbies li:last-child {
  margin-bottom: 0;
}
.hobbies img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  margin-bottom: 0.8rem;
}
.hobbies h4 {
  color: var(--gray-text-1);
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
.hobbies p {
  color: var(--gray-text-2);
  font-size: 0.9rem;
}
